/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/custom-theme.scss";

body {
  background-color: $cafe-crema;
  font-family: "Segoe UI", sans-serif;
}

.text-xs {
  font-size: 0.75rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: $blue-lower;
}

.fuente-forte {
  font-family: "Forte", cursive;
}

.fuente-arial-cursiva {
  font-family: "Arial", sans-serif;
  font-style: italic;
}

h1 {
  color: $azul;
}

.btn-azul {
  background-color: $azul;
  color: white;

  &:hover {
    background-color: darken($rojo, 10%);
    color: white;
  }
}

.card {
  border: 1px solid $plata;
  border-radius: 8px;
}

.title {
  font-family: Arial, sans-serif;
  font-style: italic;
}

.banner-con-imagen {
  // background-image: url("https://loremflickr.com/1350/900/party,event");
  background-size: cover;
  background-position: center;
  filter: brightness(0.85);
  // height: 200px;
  height: auto;
  color: $amarillo;
  position: relative;

  // pastel overlay (suavizado con pseudo-elemento)
  &::before {
    content: "";
    background: rgba(255, 255, 255, 0.4); // capa pastel blanca
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .texto-banner {
    z-index: 2;
    position: relative;
    color: $azul;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
