$rojo: #e53935;
$amarillo: #fdd835;
$azul: #1e88e5;
$cafe-crema: #f5f5dc;
$plata: #c0c0c0;

.bg-cream {
  background-color: $cafe-crema;
  color: black;
  border: 1px solid $plata;
}

.bg-yellow {
  background-color: $amarillo;
  color: black;
  border: 1px solid $plata;
}
